<f:layout name="Default" />

<f:section name="main">

	<f:if condition="{files}">
		
		<f:then>
			<p class="numberOfFiles">{numberOfFiles} <f:translate key="tx_pbfilelist.files" />:</p>

			<ul>
				<f:for each="{files}" as="file">
					<li><a class="file {file.fileObject.properties.extension}" href="{file.fileObject.publicUrl}" title="{file.fileObject.properties.title}">{file.filename}</a> <span class="fileinfo">({file.filesize}, {file.dateFormatted})</span></li>
				</f:for>
			</ul>
		</f:then>

		<f:else>
			<p class="error"><f:translate key="tx_pbfilelist.emptyresult"></f:translate></p>
		</f:else>		
		
	</f:if>

	
</f:section>

